VITE_SUPABASE_URL=https://zopnpcrbjxzxiyaletsi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvcG5wY3Jianh6eGl5YWxldHNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMzg0MTgsImV4cCI6MjA5MTcxNDQxOH0.6WX9TMlqJjIplt__dKoBtb9_ZT2Xanywcjv96FONkAg
